{% extends "base.html" %}

{% block title %}
Add Product | MiniStore
{% endblock %}

{% block content %}

<div class="form-card">

    <h1 class="page-title">Add Product</h1>

    <p class="subtitle">
        Add a new product to your store.
    </p>

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <br>

        <button type="submit" class="btn btn-primary">
            Add Product
        </button>

        <a href="{% url 'product_list' %}" class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>

{% endblock %}