{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mini Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'products/style.css' %}">
</head>
<body>

    <div class="navbar">
    <a href="{% url 'product_list' %}" class="logo">Mini Store</a>
    <div class="nav-links">
        <a href="{% url 'product_list' %}">Products</a>
        <a href="{% url 'add_product' %}">Add Product</a>
        <a href="{% url 'cart' %}">🛒 Cart {{ cart_count }}</a>
    </div>
</div>

    <hr>

    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>